html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom right, #8f98b3, #CCCCFF);

}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2 {
    margin-top: 10px;
    margin-bottom: 10px;

}

#finished-image {
    border-radius: 10px;
}

.center {
    margin: auto;
    text-align: center;
    padding: 10px;
    overflow-wrap: break-word;
}

.left {
    margin-right: 70%;
    margin-left: 10%;
    text-align: left;
}

ul.list,
ol.list {
    display: inline-block;
    text-align: left;
    list-style-position: outside;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
}

#recipes {
    font-size: 18px;
    font-style: italic;
}

div {
    width: 400px;
}